{namespace n=Tx_News_ViewHelpers}
<!--
	=====================
		Partials/List/Item.html
-->
<li class="span6">
    <div class="thumbnail">
     
    <n:link newsItem="{newsItem}" settings="{settings}">
        <f:if condition="{newsItem.media}">
            <!-- media preview element -->
            <f:then>
                <f:if condition="{newsItem.mediaPreviews}">
                    <f:then>
                            <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                                    <f:if condition="{mediaElement.type} == 0">
                                            <f:image
                                                    src="uploads/tx_news/{mediaElement.image}"
                                                    title="{mediaElement.title}"
                                                    alt="{mediaElement.title}"
                                                    maxWidth="{settings.list.media.image.maxWidth}"
                                                    maxHeight="{settings.list.media.image.maxHeight}"
                                                    class="hidden-phone"
                                            />
                                    </f:if>
                            </f:alias>
                    </f:then>
                    <f:else>
                        <f:image src="typo3conf/ext/news/Resources/Public/Images/dummy-preview-image.png" title=""  alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                    <f:if condition="{settings.displayDummyIfNoMedia}">
                            <f:then>
                                    <div class="news-img-wrap pull-left">
                                            <n:link newsItem="{newsItem}" settings="{settings}">
                                                    <span class="no-media-element">
                                                            <f:image src="typo3conf/ext/news/Resources/Public/Images/dummy-preview-image.png" title=""  alt="" maxWidth="{settings.list.media.image.maxWidth}"
                                                                    maxHeight="{settings.list.media.image.maxHeight}"/>
                                                    </span>
                                            </n:link>
                                    </div>
                            </f:then>
                    </f:if>
            </f:else>
        </f:if>    
        
         <div class="caption">
            <div class="padding">
                <p>{newsItem.title}</p>
                <f:if condition="{newsItem.tags}">
                   <p class="benefits"><i class="icon-tags icon-white"></i>&nbsp;<f:translate key="LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:benefits" />
                    <f:for each="{newsItem.tags}" as="tag" iteration="interator">
                           <f:if condition="{interator.isLast}">
                               <f:then>
                                   {tag.title}
                               </f:then>
                               <f:else>
                                   {tag.title},
                               </f:else>
                           </f:if>

                       </f:for>
                   </p>
               </f:if>
            </div>
        </div>
        
    </n:link>
           
    </div>
</li>