<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TYPO3, Magento, Shopware und Solr aus Passau</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/wlwwt.min.css" rel="stylesheet">
    <link href="assets/css/wlwwt-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>
  
  <f:section name="body">    
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
            <div class="row">
                <div class="span2"><a class="brand" href="#"><span>wlwwt</span></a></div>
                <div class="span10">

                  <h3 class="name">wlwwt - wir lieben was wir tun</h3>
                  <h3 class="slogan">Einzigartige Lösungen, nachhaltige Strategien, große Ideen, technische Exzellenz und derzeit im Wartungsmodus. Wir sind bald wieder online.</h3>

             </div>
            </div>
        </div>
      </div>
    </div>
   </f:section>
  
  </body>
</html>
