<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TYPO3, Magento, Shopware und Solr aus Passau</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/wlwwt.min.css" rel="stylesheet">
    <link href="assets/css/wlwwt-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
            <div class="row">
                <div class="span2"><a class="brand" href="#"><span>wlwwt</span></a></div>
                <div class="span10">
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                          <li><a href="#">Referenzen</a></li>
                          <li class="active"><a href="#about">Kompetenzen</a></li>
                          <li><a href="">Über uns</a></li>
                          <li><a href="">Incubator</a></li>
                        </ul>
                        <form class="navbar-search pull-right">
                          <input class="span4" type="text" placeholder="Suchbegriff">
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="pagination pagination-mini pagination-right">
            <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
        <ul class="thumbnails">
            
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
           
        </ul>

      <hr>

      <footer>
            
            <div class="container">
                <div class="row">
                    
                    <div class="span2">
                        <p>&copy; wlwwt 2012</p>
                    </div>
                    
                    <div class="span4">
                        <a href="#">Kontakt</a> | <a href="#">Impressum</a>
                    </div>
                   
                    <div class="span3 offset3">
                        <div class="pull-right">
                            <a href="#"><i class="icon-print"></i>&nbsp;Seite drucken</a>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
      
    <script src="assets/js/swipe.min.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/collapse.js"></script>
    <script src="assets/js/wlwwt.js"></script>

  </body>
</html>
