<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TYPO3, Magento, Shopware und Solr aus Passau</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/wlwwt.min.css" rel="stylesheet">
    <link href="assets/css/wlwwt-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>
  
  <f:section name="body">
      
     <f:render partial="page/header" arguments="{data:data}" />

    <div class="container">
        
        <f:cObject typoscriptObjectPath="lib.content.main">
        <div class="pagination pagination-mini pagination-right">
            <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
        <ul class="thumbnails">
            
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/260/150/" alt="" title="" class="hidden-phone" />
                <div class="caption">
                    <p class="thumbnail-title">Golf- und Landhotel Anetseder</p>
                </div>
              </a>
            </li>
           
        </ul>
        </f:cObject>

      <hr>

      <f:render partial="page/footer" arguments="{data:data}" />

    </div>
    </f:section> 
  
    <script src="assets/js/swipe.min.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/collapse.js"></script>
    <script src="assets/js/wlwwt.js"></script>

  </body>
</html>
