<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TYPO3, Magento, Shopware und Solr aus Passau</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/wlwwt.min.css" rel="stylesheet">
    <link href="assets/css/wlwwt-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>
  <f:section name="body">

    <f:render partial="Page/header" arguments="{data:data}" />
       
    <div class="container">
        
        <f:cObject typoscriptObjectPath="lib.content.main">  
        <div class="row">
            
            <div class="slider-unit">
                
                <div class="span1">
                     <div class="slider-control  hidden-phone">
                         <a href="#">&lsaquo;</a>
                     </div>
                 </div>

                 <div class="span10">
                     <div class="row pull-center  hidden-phone">
                        <img src="assets/img/anetseder.jpg" alt="anetseder" title="anetseder" /> 
                     </div>
                     <div class="row pull-center">
                          <h1>Golfen in seiner angenehmsten Form</h1>
                          <h3>Die neue Online-Präsenz des Golf- und Landhotel Anetseder</h3>
                     </div>
                 </div>

                 <div class="span1">
                     <div class="slider-control  hidden-phone">
                         <a href="#">&rsaquo;</a>
                     </div>
                 </div>
                
            </div>
            
        </div>
        
        <hr>
        
        <div class="row">
            <div class="span12">
                <div class="row">
                    
                    <div class="span9">
                        <div class="content">
                            <p>wlwwt vereint betriebswirtschaftliche Kompetenz mit Web-Know-how und vertieftem Kunden- und Branchenwissen</p>
                            <h5>Strategie-Entwicklung und System-Evaluation</h5><p>Schöpfen Sie das Online-Potenzial Ihres Unternehmens aus: Vor dem Hintergrund sorgfältiger Analysen erarbeiten wir maßgeschneiderte Online-Strategien und -Businesspläne, passende Konzepte, Expert Reviews und Anforderungskataloge. Wir evaluieren für Sie die geeignete Lösung und optimieren bestehende Plattformen auf Basis von Audits.</p>
                            <h5>Visuelle und inhaltliche Konzeption</h5><p>Zielgruppengerechte Inhalte, klare Strukturen und einfache Benutzerführung: Die fachliche, inhaltliche und visuelle Konzeption ist entscheidend für den Erfolg Ihres Online-Projektes. Wir entwickeln Design und Informationsarchitektur für Websites, Online Shops, mobile Endgeräte, Social Media-Plattformen und Cross Media-Kampagnen</p>
                            <div class="contact">
                                <span class="author">Ihr Kontakt</span>
                                <ul>
                                    <li>Wolfgang Freund</li>                                                                
                                    <li>Tel.: +49 170 29 18 949</li>
                                    <li><a href="mailto:wolfgang.freund@wlwwt.de">wolfgang.freund@wlwwt.de</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        
                        <div class="meta">
                            <p><i class="icon-home"></i>&nbsp;Besuchen Sie die Seite</p>
                            <ul>
                                <li><a href="">www.hotel-anetseder.de</a></li>
                            </ul>
                        </div>
                        
                        <div class="meta">
                            <p><i class="icon-tags"></i>&nbsp;Leistungen</p>
                            <ul>
                                <li>Beratung, Konzeption, TYPO3-Umsetzung</li>
                            </ul>
                        </div>
                        
                        <div class="meta">
                          <p><i class="icon-share"></i>&nbsp;Social Media</p>
                          <ul>
                              <li>
                                 <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_preferred_1"></a>
                                <a class="addthis_button_preferred_2"></a>
                                <a class="addthis_button_preferred_3"></a>
                                <a class="addthis_button_preferred_4"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50688c6d6cc38c17"></script>
                                <!-- AddThis Button END --> 
                              </li>
                          </ul>
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        </f:cObject>

        <hr>
        
        <f:render partial="Page/footer" arguments="{data:data}" />
        
    </div>
    
    </f:section>

</body>
</html>
