<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wlwwt-Template::2col</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/wlwwt.min.css" rel="stylesheet">
    <link href="assets/css/wlwwt-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>
  <f:section name="body">
      
      <f:render partial="page/header" arguments="{data:data}" />
      
    

    <div class="container">
        <div class="row">
            <div class="span2">
                
                <f:render partial="page/subnav" arguments="{data:data}" />
                
            </div>
            <div class="span10">
                
                <f:cObject typoscriptObjectPath="lib.content.header">
                    <img src="http://lorempixel.com/1030/300/food/" alt="" title="" class="hidden-phone" />
                </f:cObject>
                
                <div class="row">
                    <div class="span7">
                        
                        <f:cObject typoscriptObjectPath="lib.content.main">
                         <div class="content">
                            <h3>Web Content Management und Themenportale</h3>
                            <p>wlwwt vereint betriebswirtschaftliche Kompetenz mit Web-Know-how und vertieftem Kunden- und Branchenwissen</p>
                            <h5>Strategie-Entwicklung und System-Evaluation</h5><p>Schöpfen Sie das Online-Potenzial Ihres Unternehmens aus: Vor dem Hintergrund sorgfältiger Analysen erarbeiten wir maßgeschneiderte Online-Strategien und -Businesspläne, passende Konzepte, Expert Reviews und Anforderungskataloge. Wir evaluieren für Sie die geeignete Lösung und optimieren bestehende Plattformen auf Basis von Audits.</p>
                            <h5>Visuelle und inhaltliche Konzeption</h5><p>Zielgruppengerechte Inhalte, klare Strukturen und einfache Benutzerführung: Die fachliche, inhaltliche und visuelle Konzeption ist entscheidend für den Erfolg Ihres Online-Projektes. Wir entwickeln Design und Informationsarchitektur für Websites, Online Shops, mobile Endgeräte, Social Media-Plattformen und Cross Media-Kampagnen</p>
                        </div>
                        </f:cObject>
                       
                    </div>
                    <div class="span3">
                        
                        <f:cObject typoscriptObjectPath="lib.content.meta">
                         <div class="meta">
                            <p><i class="icon-th"></i>&nbsp;Referenzen</p>
                            <ul>
                                <li><a href="#about">Web Content Management und Themenportale von wlwwt</a></li>
                            </ul>
                        </div>
                        
                        <div class="meta">
                            <p><i class="icon-tag"></i>&nbsp;Systeme</p>
                            <ul>
                                <li><a href="#">TYPO3</a>, <a href="#">Magento</a>, <a href="#">Shopware</a></li>
                            </ul>
                        </div>
                        
                        <div class="meta">
                            <p><i class="icon-envelope"></i>&nbsp;Kontaktieren Sie uns</p>
                            <ul>
                                <li>Wolfgang Freund</li>                                                                
                                <li>Tel.: +49 170 29 18 949</li>
                                <li><a href="mailto:wolfgang.freund@wlwwt.de">wolfgang.freund@wlwwt.de</a></li>
                            </ul>
                        </div>   
                         </f:cObject>
                        
                    </div>
                </div>
                
            </div>
        </div>
        <hr>
        
        <f:render partial="page/footer" arguments="{data:data}" />
    
    </div>
      
    </f:section>
  
    <script src="assets/js/swipe.min.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/collapse.js"></script>
    <script src="assets/js/wlwwt.js"></script>

</body>
</html>
