 <footer>
            
    <div class="container">
        <div class="row">

            <div class="span2">
                <f:cObject typoscriptObjectPath="lib.general.copyright">
                    <p>&copy; wlwwt 2012</p>
                </f:cObject>

            </div>

            <div class="span4">
                <f:cObject typoscriptObjectPath="lib.navigation.footer">
                    <a href="#">Kontakt</a> | <a href="#">Impressum</a>
                </f:cObject>

            </div>

            <div class="span6">
                <div class="pull-right">
                    <f:cObject typoscriptObjectPath="lib.general.print-page">
                    <a href="javascript:self.print()"><i class="icon-print"></i>&nbsp;Seite drucken</a> 
                    </f:cObject>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <f:cObject typoscriptObjectPath="lib.general.partner" />
            </div>
        </div>
    </div>

</footer>