<f:cObject typoscriptObjectPath="lib.navigation.subnav">
<ul class="nav subnav">
    <li><a href="#">Beratung und Konzeption</a></li>
    <li><a href="#">Responsive Design und Mobile Devices</a></li>
    <li><a href="#about">Web Content Management und Themenportale</a>
        <ul>
            <li class="active"><a href="#about">Kompetenzen</a>
            <li><a href="#contact">Über uns</a></li>
            <li><a href="#contact">Über uns</a></li>
        </ul>
    </li>
    <li><a href="#">E-Commerce und Multichannel Commerce</a></li>
    <li><a href="#">Enterprise Search</a></li>
    <li><a href="#">Continuous Integration</a></li>
</ul>  
</f:cObject>
