{namespace n=Tx_News_ViewHelpers}

<f:layout name="Detail.html" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
        <f:if condition="{newsItem}">
		<f:then>
			<n:format.nothing>
				<f:if condition="{newsItem.alternativeTitle}">
					<f:then><n:titleTag><n:format.htmlentitiesDecode>{newsItem.alternativeTitle}</n:format.htmlentitiesDecode></n:titleTag></f:then>
					<f:else><n:titleTag><n:format.htmlentitiesDecode>{newsItem.title}</n:format.htmlentitiesDecode></n:titleTag></f:else>
				</f:if>
				<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}"/>
			</n:format.nothing>
			<div class="row">
            
                            <div class="slider-unit">
                                <f:if condition="{settings.backPid}">
                                    <!-- Link Back -->
                                     <div class="span1">
                                        <div class="slider-control  hidden-phone">
                                               <f:link.page pageUid="{settings.backPid}">
                                                       <f:translate key="LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:back-sign" />
                                               </f:link.page>
                                       </div>
                                     </div>
                                </f:if>

                                 <div class="span11">
                                     <div class="row pull-center  hidden-phone">
                                        <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}"/>
                                     </div>
                                     <div class="row pull-center">
                                          <h1>{newsItem.title}</h1>
                                          <f:if condition="{newsItem.teaser}">
                                          <h3>{newsItem.teaser}</h3>
                                          </f:if>
                                     </div>
                                 </div>

                            </div>

                        </div>
                    
                        <hr>
                    
                        <div class="row">
                            <div class="span12">
                                <div class="row">

                                    <div class="span9">
                                        <div class="content">
                                            <f:format.html>{newsItem.bodytext}</f:format.html>
                                            <div class="contact">
                                                <span class="author"><f:translate key="LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:contact" /></span>
                                                <ul>
                                                    <li><f:translate key="LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:contact-name" /></li>                                                                
                                                    <li><f:translate key="LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:contact-phone" /></li>
                                                    <li><f:link.email email="{f:translate(key:'LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:contact-email')}"><f:translate key="LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:contact-email" /></f:link.email></li>
                                                </ul>
                                            </div>
                                            <f:if condition="{settings.backPid}">
                                                <!-- Link Back -->
                                                <div class="news-backlink-wrap">
                                                        <f:link.page pageUid="{settings.backPid}">
                                                                <f:translate key="LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:back-link" />
                                                        </f:link.page>
                                                </div>
                                            </f:if>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        
                                        <f:if condition="{newsItem.tags}">
                                         <div class="meta">
                                            <p><i class="icon-tags"></i>&nbsp;<f:translate key="LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:benefits" /></p>
                                            <ul>
                                            <li>
                                                <f:for each="{newsItem.tags}" as="tag" iteration="interator">
                                                    <f:if condition="{interator.isLast}">
                                                        <f:then>
                                                            {tag.title}
                                                        </f:then>
                                                        <f:else>
                                                            {tag.title},
                                                        </f:else>
                                                    </f:if>

                                                </f:for>
                                            </li>
                                            </ul>
                                        </div>
                                        </f:if>
                                       
                                        <f:if condition="{newsItem.relatedLinks}">
                                        <div class="meta">
                                            <p><i class="icon-home"></i>&nbsp;<f:translate key="LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:visit-page" /></p>
                                            <ul>
                                            <f:for each="{newsItem.relatedLinks}" as="relatedLink">
                                                <li>
                                                        <f:link.page pageUid="{relatedLink.uri}">{relatedLink.title}</f:link.page>
                                                </li>
                                            </f:for>
                                            </ul>
                                        </div>
                                        </f:if>
                                       
                                        <f:if condition="{newsItem.relatedFiles}">
                                            <!-- Related files -->
                                            <div class="meta">
                                               <p><i class="icon-download"></i>&nbsp;<f:translate key="LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:download" /></p>
                                                <ul>
                                                    <f:for each="{newsItem.relatedFiles}" as="relatedFile">
                                                            <li>
                                                                <n:format.fileDownload file="uploads/tx_news/{relatedFile.file}" configuration="{settings.relatedFiles.download}">
                                                                        <f:if condition="{relatedFile.title}">
                                                                                <f:then>
                                                                                        {relatedFile.title}
                                                                                </f:then>
                                                                                <f:else>
                                                                                        {relatedFile.file}
                                                                                </f:else>
                                                                        </f:if>
                                                                </n:format.fileDownload>

                                                            </li>
                                                    </f:for>
                                                </ul>
                                            </div>
                                        </f:if>
                                        
                                        <f:if condition="{settings.detail.showSocialShareButtons}">
                                            <div class="meta">
                                                <p><i class="icon-share"></i>&nbsp;<f:translate key="LLL:EXT:theme_wlwwt/Resources/Private/Language/locallang.xml:social-media" /></p>
                                                <ul>
                                                    <li>
                                                    <f:render partial="Detail/Addthis" arguments="{newsItem: newsItem, settings:settings}"/> 
                                                    </li>
                                                </ul>
                                            </div>
                                        </f:if>
    
                                    </div>
                                </div>

                            </div>
                        </div>

		</f:then>
		<f:else>

		</f:else>
	</f:if>
</f:section>