{namespace n=Tx_News_ViewHelpers}
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
<f:if condition="{news}">
	<f:then>

		<f:if condition="{settings.isLatest}">
			<f:then>
                                <div class="slider-unit hidden-tablet hidden-phone">
                                    
                                    <div class="span1">
                                         <div class="slider-control">
                                             <a href="#" onclick="slider.prev();return false;">&lsaquo;</a>
                                         </div>
                                     </div>

                                     <div class="span10">
                                         <div id="slider" class="swipe">  
                                            <div>
                                                <f:for each="{news}" as="newsItem">
                                                        <f:render partial="List/Item-latest" arguments="{newsItem: newsItem, settings:settings}"/>
                                                </f:for>
                                            </div>
                                         </div>
                                     </div>
                                    
                                    <div class="span1">
                                        <div class="slider-control">
                                            <a href="#" onclick="slider.next();return false;">&rsaquo;</a>
                                        </div>
                                    </div>
                                    
                                </div>
			</f:then>
			<f:else>
                                <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
      
				    <ul class="thumbnails">
                                        <f:for each="{paginatedNews}" as="newsItem">
                                            <f:render partial="List/Item-list" arguments="{newsItem: newsItem, settings:settings}"/>
                                        </f:for>
                                    </ul>	

                                </n:widget.paginate>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<div class="no-news-found"><f:translate key="list_nonewsfound" /></div>
	</f:else>
</f:if>
</f:section>