<f:layout name="Default" />


<f:section name="main">

    <f:if condition="{column}">
		
                <f:then>
                    <div class="meta">
                            <p><i class="icon-th"></i>&nbsp;<f:translate key="tx_wfmeta_domain_model_column.references" /></p>
                            <ul>
                                    <f:for each="{column.portfolios}" as="portfolio">
                                        <li><f:link.page pageUid="{portfolio.link}">{portfolio.title}</f:link.page></li>
                                    </f:for>

                            </ul>
                    </div>

                    <div class="meta">
                            <p><i class="icon-tag"></i>&nbsp;<f:translate key="tx_wfmeta_domain_model_column.systems" /></p>
                            <ul>
                                <li>
                                    <f:for each="{column.systems}" as="system" iteration="iterator">
                                            <f:if condition="{iterator.isLast}">
                                                    <f:then>
                                                        <f:link.page pageUid="{system.link}">{system.title}</f:link.page>
                                                    </f:then>
                                                    <f:else>
                                                        <f:link.page pageUid="{system.link}">{system.title}</f:link.page>, 
                                                    </f:else>
                                            </f:if>
                                    </f:for>
                                </li>
                            </ul>
                    </div>

                    <div class="meta">
                            <p><i class="icon-envelope"></i>&nbsp;<f:translate key="tx_wfmeta_domain_model_column.contact" /></p>
                            <ul>
                                    <li>{column.contact.title}</li>                                                                
                                    <li><f:translate key="tx_wfmeta_domain_model_contact.phone" /> {column.contact.phone}</li>
                                    <li><f:link.email email="{column.contact.email}" /></li>
                            </ul>
                    </div>	
		</f:then>
		<f:else>
			<f:translate key="tx_wfmeta_domain_model_column.no-meta" />
		</f:else>
	</f:if>
   
    
</f:section>